/* =========================
==== Default Styles ========
============================ */

* {
  margin: 0;
  box-sizing: border-box;
}

.img-container {
  height: 180px;
  margin-top: 40px;
}

/* ========================
====== Typography =========
=========================== */

h2 {
  font-family: "Bangers", system-ui;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 50px;
}

body {
  min-height: 100svh;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#section1 {
  display: flex;
  flex-flow: row wrap;
}

.card-container {
  border: solid 1px black;
  background-color: rgb(43, 22, 62);
  color: #ececec;
  display: flex;
  max-width: 500px;
  border-radius: 10px;
}

.details-container {
  padding: 30px;
}

.card-details {
  display: flex;
  text-align: center;
  gap: 40px;
  margin-block: 20px;
}

.label,
.occupation {
  color: rgb(128, 254, 254);
}
